<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/elenavilchik/Projects/swift-projects/swift_coverage_project/SimpleApp1/SimpleApp1.xcodeproj</string>
</dict>
</plist>
